/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav {
    display: row;
    flex-direction: column;
    width: 100%;
}

.logo {
    background-color: #232F3E;
}

.logo img {
    width: 200px;
    padding: 10px 50px;
    cursor: pointer;
}

.menu-bar {
    background-color: #354758;
    color: white;  
}

.menu-bar ul {
    list-style-type: none;
    margin: 0 30px;
    padding: 10px 0;
    display: flex;
    gap: 30px;
}

.menu-bar li {
    cursor: pointer;
}

main {
    background-color: rgb(227, 227, 227);
    display:flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 50px;
    max-width: 1200px;
}

.shop-holiday {
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #F56500;
}

.shop-holiday a {
    color: white;
}

.holiday-gift-guides {
    background-image: url(assets\ 2/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.find-gift {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.extra {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    flex-wrap: wrap;
}

.card-extra {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 23.5%;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
}

.item {
    width: 100%;
    flex-basis: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    font-size: 14px;
}

.item img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit:cover;
}

.new {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 35px;
    right: 0;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    padding-left: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 250px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.banner {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    width: 100%;
    cursor: pointer;
}

footer {
    display: row;
    flex-direction: column;
    width: 100%;
}

.back-top {
    background-color: #354758;
    text-align: center;
    padding: 10px;
}

.back-top a {
    color: white;
}

.big-logo {
    background-color: #232F3E;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-logo img {
    width: 300px;
    padding: 10px 50px;
    cursor: pointer;
}